@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animated-gradient {
    background: radial-gradient(circle, #447a64, #303c7a, #742d53);
    background-size: 400% 400%;
    animation: GradientSwell 30s ease infinite;
  }

  @keyframes GradientSwell {
    0% {
      background-position: 20% 50%;
    }
    25% {
      background-position: 80% 50%;
    }
    50% {
      background-position: 50% 80%;
    }
    75% {
      background-position: 50% 20%;
    }
    100% {
      background-position: 20% 50%;
    }
  }

  .start-pos-1 .animated-gradient {
    animation: GradientSwell1 30s ease infinite;
  }

  .start-pos-2 .animated-gradient {
    animation: GradientSwell2 30s ease infinite;
  }

  .start-pos-3 .animated-gradient {
    animation: GradientSwell3 30s ease infinite;
  }

  @keyframes GradientSwell1 {
    0% {
      background-position: 20% 30%;
    }
    25% {
      background-position: 80% 60%;
    }
    50% {
      background-position: 40% 90%;
    }
    75% {
      background-position: 60% 20%;
    }
    100% {
      background-position: 20% 30%;
    }
  }

  @keyframes GradientSwell2 {
    0% {
      background-position: 70% 20%;
    }
    25% {
      background-position: 30% 80%;
    }
    50% {
      background-position: 90% 50%;
    }
    75% {
      background-position: 40% 30%;
    }
    100% {
      background-position: 70% 20%;
    }
  }

  @keyframes GradientSwell3 {
    0% {
      background-position: 40% 40%;
    }
    25% {
      background-position: 60% 70%;
    }
    50% {
      background-position: 20% 90%;
    }
    75% {
      background-position: 80% 40%;
    }
    100% {
      background-position: 40% 40%;
    }
  }
}
